<div id="container" class="container" ng-app="blogApp" ng-controller="BlogViewCtrl">
  <div class="blog-post-label">AVivinder</div>
  <div class="post-wrapper">
    <div  ng-repeat="blogPost in blogList">
      <div class="blog-post-outer">
        <div class="blog-intro-text">
          {{blogPost.id}}
          <input ng-model="blogPost.name">
          <button text="save" ng-click="update(blogPost.id, blogPost.name)">update</button>
        </div>
        <div class="blog-read-more">
          <a href="#!blogPost/{{blogPost._id}}">Read More</a>
        </div>
      </div>
    </div>
    <button ng-click="create(name)">add more</button>
    <input ng-show="add" ng-model="name">
  </div>
</div>
