<!DOCTYPE html>
<html>
<head>
  <title>Missions</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id='top-bar' class="blue"></div>
<div id='content' class="blue">
  <h3><%= "שלום #{(Thread.current[:user] = current_user).try :email}" %></h3>
<%= yield %>
</div>
</body>
</html>
